* {
    white-space: pre-wrap;
  }

.Container {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px;
  }

  .BackButton {
    background: #00000000;
    color: #0b84fe;
    text-align: center;
    border: 0;
    box-shadow: none;
    font-size: 18px;
  }

.Summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

.Icon {
    width: 100%;
    height: 100%;
    border-radius: 22.37%;
  }

  .TitleName {
    font-size: 18px;
    font-weight: 400;
  }

  .Scope20 {
    width: 20vw;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
  }

.Scope30 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
  }

.Scope50 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px;
  }

.StoreButton {
    border-radius: 25px;
    background: #1c1c1e;
    padding: 10px;
    color: #0b84fe;
    text-align: center;
    border: 0;
    box-shadow: none;
  }

  .ScreenShotP {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 46vw;
    flex-wrap: wrap;
    overflow: auto;
    margin: 10px;
  }

  .ScreenShotP::after {
    content: '';
    height: 0;
    border-bottom: 1px #808084 solid;
    left: 24px;
    right: 24px;
    position: absolute;
  }

  .ScreenShot {
    display: inline;
    width: auto;
    height: 100%;
    margin: 0px 5px;
  }

  .Explanation {
    line-height: 1.5;
    word-break: break-all;
  }

  .UpdateviewP::before {
    content: '';
	  height: 0;
	  border-bottom: 1px #808084 solid;
	  left: 24px;
	  right: 24px;
	  position: absolute;
  }

  .UpdateviewP::after {
    content: '';
	  height: 0;
	  border-bottom: 1px #808084 solid;
	  left: 24px;
	  right: 24px;
	  position: absolute;
  }

  .UpdateDate {
    width:100%;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
  }

  .UpdateDetail {
    width:100%;
    line-height: 1.5;
    margin: 8px 0px;
  }
  
  .OverviewP {
    line-height: 1.5;
  }

  .Overview {
    width:100%;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
  }

  .Overview::after {
    content: '';
	  height: 0;
	  border-bottom: 1px #808084 solid;
	  left: 24px;
	  right: 24px;
	  position: absolute;
  }

  .ViewLeft {
    text-align: left;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
  }

  .ViewRight {
    text-align: right;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
  }

  .width25 {
    width: 25vw;
  }

  .width50 {
    width: 50vw;
  }

  .widt75 {
    width: 75vw;
  }

  .Title {
    font-size: 20px;
    font-weight: 800;
  }

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/