.OuterContainer {
    width: 100vw;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    padding: 6px 0px;
  }

  .OuterContainer::before {
    content: '';
	height: 0;
	border-bottom: 1px #808084 solid;
	left: 24px;
	right: 24px;
	position: absolute;
  }

  .OuterContainer:last-child::after {
    border-bottom: 0px #808084 solid;
  }

.Scope60 {
    width:60vw;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 10px;
  }

.Scope20 {
    width:20vw;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

.icon {
    width: 20vw;
    height: 20vw;
    border-radius: 22.37%;
  }

.button, button {
    border-radius: 25px;
    background: #1c1c1e;
    padding: 10px;
    color: #0b84fe;
    text-align: center;
    border: 0;
    box-shadow: none;
}

.Name {
    font-size:14pt;
    color: #ffffff;
  }

.Genre {
    font-size:12pt;
    color: #808084;
  }

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/