.OuterContainer {
    width: 100%;
    background-color: #000000;
    padding: 0px;
  }
  
  .OuterContainer::after {
    content: '';
  height: 0;
  border-bottom: 1px #808084 solid;
  left: 24px;
  right: 24px;
  position: absolute;
  }
  
  .OuterContainer:last-child::after {
    border-bottom: 0px #808084 solid;
  }
  
  .InnerContainer {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 6px 0px;
  }
  
  .Scope60 {
    width:60%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 10px;
  }
  
  .Scope20 {
    width:20%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .icon {
    width: 100%;
    height: auto;
    border-radius: 22.37%;
  }
  
  .button, button {
    border-radius: 25px;
    background: #1c1c1e;
    padding: 10px;
    color: #0b84fe;
    text-align: center;
    border: 0;
    box-shadow: none;
  }
  
  .Name {
    font-size:14pt;
    color: #ffffff;
  }
  
  .Genre {
    font-size:12pt;
    color: #808084;
  }
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */