/* Global Styles */

  a{
      text-decoration:none;
      color:inherit;
  }
  *{
      box-sizing:border-box;
  }
  body{
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size:18px;
      background-color:rgba(0, 0, 0, 1);
      color:white;
      padding-bottom:70px;
  }
  
  /* Top Bar */
  
  app-top-bar {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(20, 20, 20);
    z-index: 10;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
  }
  
  app-top-bar ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
  }

  app-top-bar ul li {
    width: 25vw;
    height: 50px;
    text-align: center;
    transition: color 0.2s ease-in-out;
  }

  app-top-bar ul li a {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Checkout Cart, Shipping Prices */
  
  .cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }
  
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */