<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="SearchForm">
  <div class="SearchDiv">
    <span class="SearchLens">
      <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
        </path>
      </svg>
    </span>
  </div>
  <div>
    <input class="SearchInput"
      placeholder="게임, 앱, 스토리 등"
      formControlName="property"
    />
  </div>
</form>

<!--<app-products [appDatas]="searchResult"></app-products>-->

<h2 *ngIf="searchResult">검색결과</h2>

<div *ngIf="searchResult">
    <div class="OuterContainer" *ngFor="let product of searchResult">
        <div class="InnerContainer" [routerLink]="['/app', product.trackId]">
            <div class="Scope20">
                <a [title]="product.name + ' details'">
                    <img class="icon" [src]="product.artworkUrl100" />
                </a>
            </div>
            <div class="Scope60">
                <span class="Name">{{ product.trackName }}</span>
                <span class="Genre" *ngIf="product.primaryGenreName">
                    {{ product.primaryGenreName }}
                </span>
            </div>
            <div class="Scope20">
                <button (click)="iTune(product.trackViewUrl)">
                    GET
                </button>
            </div>
        </div>
    </div>
</div>