  <ul>
    <li>
      <a [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons">assignment</i>
        Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/app']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons">layers</i>
        App
      </a>
    </li>
    <li>
      <a [routerLink]="['/game']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons">sports_esports</i>
        Game
      </a>
    </li>
    <li>
      <a [routerLink]="['/search']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons">search</i>
        Search
      </a>
    </li>
  </ul>
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->